<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{yyyy-mm-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15}: %msg %xEx%n)</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

    <logger name="bisq" level="INFO"/>

    <!-- Set this to DEBUG to log web requests for troubleshooting/development purposes  -->
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="INFO"/>

</configuration>
